@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&display=swap');

/* ======================== GLOBAIS ======================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* ================== FONTES ================== */
    --main-font: normal normal 1em "Open Sans", Arial, sans-serif;
    --numbers-font: normal normal 1.2em "Oxanium", Arial, sans-serif;

    /* ================== CORES ================== */
    --primary-color: #9aafd8;
    --primary-color-light: #d5e2fd;
    --secondary-color: #f13f24;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font: var(--main-font);
}


header {
    padding: 1em;
}

h1 {
    text-align: center;
}

main {
    display: grid;
    place-items: center center;
    padding: 0.5em;
}

#calculator {
    display: grid;
    gap: 1em;
    margin: 1em 0;
    padding: 2em;
    background-color: var(--primary-color);
    border-radius: 2em;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transform-style: preserve-3d;
}

input {
    height: 50px;
    width: 100%;
    padding: 0.5em;
    font: var(--numbers-font);
    text-align: right;
    border-radius: 1em;
    border: 1px solid black;
}

#btnArea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

button {
    padding: 0.75em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font: var(--numbers-font);
    background-color: var(--primary-color-light);
}